@model ProyectoIdentity.Models.ModelsJourney.Encuesta

@{
    ViewData["Title"] = "Create";
}
@section Styles{

    <link rel="stylesheet" href="~/css/Preguntas.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
}
<div class="app-main-content">
    <div class="app-wrapper">
        <div class="app-mid-column">
            <div class="w-100">
                <div class="sc-ZqGJI fqodEh">
                    <div class="sc-xWrgk hIODdx page-heading-wrapper">
                        <div class="heading-wrapper pr-3">
                            <div class="title-row">
                                <h4 id="heading_text" class="sc-gKPRtg kgoyPS">  Crear Encuesta </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="createSurveyBlock animated slideInUpTiny animation-duration-10">
                            <div class="stepperWrap w-100 mt-4">
                                <div class="steapsData">
                                    <div class="sc-xWrgk dbEiCY surveyListBlock">
                                        <form asp-action="IndexCreaPreguntas">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group ">
                                                <label asp-for="NombreEncuesta" class="control-label"></label>
                                                <input asp-for="NombreEncuesta " class="form-control sc-lllmON eEvYeb" />
                                                <span asp-validation-for="NombreEncuesta" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="DescripcionEncuesta" class="control-label"></label>
                                                <input asp-for="DescripcionEncuesta" class="form-control sc-lllmON eEvYeb" />
                                                <span asp-validation-for="DescripcionEncuesta" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CompanyId" class="control-label"></label>
                                                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                                            </div>
                                            <div class="form-group">
                                                <a asp-action="Index">Regresar</a>
                                                <input type="submit" value="Siguiente" class="btn btn-primary" />
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
