html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input#datepicker {
    text-align: center;
    background-image: url("../imagenes/X-office-calendar.svg");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 18px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.Login {
    box-shadow: 2px 2px 5px 2px #000;
    width: 90%;
    height: 80%;
    
    
}

.Contenedor {
    width: 100%;
}

.vh-100 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}



