@section Styles{
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/Preguntas.css">
}

<div class="app-main-content w-75">
    <div class="app-wrapper">
        <div class="app-mid-column">
            <div>
                <div class="row">

                    <div class="col-md-12">

                        <div class="stepperWrap w-100 mt-4">
                            <div class="steapsData">
                                <div class="sc-xWrgk dbEiCY surveyListBlock">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>Confirmación de recuperación de contraseña</h2>
                                            <p>Su contraseña ha sido cambiada. Por favor <a asp-controller="Cuentas" asp-action="Acceso">Click aquí para acceder</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

