@model ProyectoIdentity.Models.ModelsJourney.Encuesta

@{
    ViewData["Title"] = "Delete";
    bool Active = true;
    string firstSteper = "js-active";
    int opcion = 1;
    string[] iconStepper = {"","bi bi-globe-americas",
                            "bi bi-heart-pulse",
                            "bi bi-piggy-bank-fill",
                            "bi bi-person-check-fill",
                            "bi bi-tools",
                            "bi bi-shield-lock-fill" };
}


@section Styles{

    <link rel="stylesheet" href="~/css/styleStepper.css">
    <link rel="stylesheet" href="~/css/Preguntas.css">

}


<div class="container">
    <form asp-action="IndexRespuestas" asp-controller="Respuestas">
    <input type="hidden" value="@Model.Id" id="idSurvey" name="idSurvey"/>
    <div class="d-flex justify-content-center align-items-center vh-100"  >
        <div class="mt-4 shadow p-4 rounded bg-white">
            <div style="width: 300px;">
                <img  src="~/imagenes/LogoHayTalento.png" alt="Logo hay talento">
            </div>
            <div>
                <h1>@Model.NombreEncuesta</h1>
                <h6 class="text-justify">
                    @Model.DescripcionEncuesta
                </h6>
                <div class="text-right">
                    <input type="submit" name="next" id="redirect" class=" action-button btn btn-primary" value="Comenzar Encuesta" />
                </div>
            </div>
        </div>
    </div>
    </form>
</div>


@*@section Scripts{
    <script>
    $(function(){
        $("#redirect").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("IndexRespuestas","Respuestas",Model.Id)';
        });
        });
</script>
    }*@
