@model ProyectoIdentity.Models.ModelTemplateJorney.ModelSurvey

@{
    ViewData["Title"] = "Delete";
    bool Active = true;
    string firstSteper = "js-active";
    int opcion = 1;
    string[] iconStepper = {"","bi bi-globe-americas",
                            "bi bi-heart-pulse",
                            "bi bi-piggy-bank-fill",
                            "bi bi-person-check-fill",
                            "bi bi-tools",
                            "bi bi-shield-lock-fill" };
}


@section Styles{

    <link rel="stylesheet" href="~/css/styleStepper.css">
    <link rel="stylesheet" href="~/css/Preguntas.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

}


<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="row">
            <div class="col-md-12 mx-0">
                <form id="msform">
                    </ul>

                        <fieldset>
                            <div class="w-100 mt-4 shadow p-4 rounded bg-white">
                                <div >
                                    <div class="addQuestion mt-2">
                                        <h1>Bienvenido a la Encuesta de HayTalento</h1>
                                        <h6 class="text-justify">Nos interesa conocer tu percepción acerca de los Beneficios Generales y Reconocimientos monetarios y no monetarios que te brinda la compañía, así como algunos aspectos sociodemográficos que nos permitan proporcionar informaciòn relevante para adecuar y modernizar nuestros modelos de reconocimientos y beneficios acorde con tu actual momento de vida. 
                                        <br><br>Esta información es confidencial y se utilizará para fines estrictamente estadísticos e informativos. Tu valoración y comentarios serán una referencia y no implican ningún compromiso presente ni futuro para la Compañía.
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-xWrgk lssbs steppeActionBlock">
                                <div class="row">
                                            
                                    <div class="col-md-12">
                                        <div class="text-right">
                                            <input type="button" name="next" id="redirect" class="next action-button btn btn-primary" value="Comenzar Encuesta" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                </form>
            </div>
        </div>


    </div>
</div>


@section Scripts{
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $(function(){
        $("#redirect").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("IndexRespuestas","Respuestas")';
        });
        });
</script>
    }
