@model ProyectoIdentity.Models.ModelsJourney.Encuesta

@{
    ViewData["Title"] = "Delete";
    bool Active = true;
    string firstSteper = "js-active";
    int opcion = 1;
    string[] iconStepper = {"","bi bi-globe-americas",
                            "bi bi-heart-pulse",
                            "bi bi-piggy-bank-fill",
                            "bi bi-person-check-fill",
                            "bi bi-tools",
                            "bi bi-shield-lock-fill" };
}


@section Styles{

    <link rel="stylesheet" href="~/css/styleStepper.css">
    <link rel="stylesheet" href="~/css/Preguntas.css">

}


<div class="container">
    <form asp-action="IndexRespuestasMadurez" asp-controller="Respuestas">
        <input type="hidden" name="idSurvey" value="@Model.Id"></input>
    
    <div class="d-flex justify-content-center align-items-center vh-100"  >
        <div class="mt-4 shadow p-4 rounded bg-white">
            <div style="width: 300px;">
                <img  src="~/imagenes/LogoHayTalento.png" alt="Logo hay talento">
            </div>
            <div style="width:1000px;">
                <h1>Bienvenido a la Encuesta de HayTalento</h1>
                <h6 class="text-justify">
                    Beneficios Mercado y Madurez
                </h6>
                <div class="text-right">
                    <input type="submit" name="next" id="redirect2" class="next action-button btn btn-primary" value="Comenzar Encuesta" />
                </div>
            </div>
        </div>
    </div>
    </form>
</div>


@section Scripts{
    <script>
    $(function(){
        $("#redirect2").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("IndexRespuestasMadurez","Respuestas")';
        });
        });
</script>
    }
