<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HayTalento</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Estilos jquery ui para datepicker-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoIdentity.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    @await RenderSectionAsync("Styles", required: false)
</head>



@if (ViewBag.Message != "Login" && ViewBag.Message != "EnvioRedirectRespuestas" && ViewBag.Message != "EnvioRedirectRespuestasMadurez")
{
    <body>
        <header>
            <!-- Sidebar -->
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <a class="list-group-item list-group-item-action py-2 ripple"
                       aria-current="true" asp-area="" asp-controller="Companies" asp-action="Index">
                            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Usuarios</span>
                        </a>
                        <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Encuestas" asp-action="Index1">
                            <i class="fas fa-chart-area fa-fw me-3"></i><span>Crea Encuesta</span>
                        </a>
                        <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Encuestas" asp-action="Index">
                            <i class="fas fa-lock fa-fw me-3"></i><span>Mis Encuestas</span>
                        </a>
                        
                        <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Dashboard" asp-action="Index">
                            <i class="fas fa-chart-pie fa-fw me-3"></i>
                            <span>Dashboard</span>
                        </a>
                        <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Dashboard1" asp-action="Index2">
                            <i class="fas fa-chart-pie fa-fw me-3"></i>
                            <span>prueba</span>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Sidebar -->
            <!-- Sidebar -->
            <!-- Navbar -->
            <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <!-- Container wrapper -->
                <div class="container-fluid">
                    <!-- Toggle button -->
                    <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#sidebarMenu"
                        aria-controls="sidebarMenu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Brand -->
                    <a class="navbar-brand" href="#">
                        <img src="~/imagenes/LogoHayTalento.png"
                         style="height:50px !important;"
                         alt="MDB Logo"
                         loading="lazy" />
                    </a>

                    <!-- Right links -->
                    <ul class="navbar-nav ms-auto d-flex flex-row">
                        <!-- Notification dropdown -->
                        <li class="nav-item dropdown">
                            <partial name="_LoginRegistroVistaParcial" />
                        </li>

                        <!-- Icon -->
                        <li class="nav-item">
                            <a class="nav-link me-3 me-lg-0" asp-controller="Cuentas" asp-action="SalirAplicacion">
                                <i class="fas fa-fill-drip"></i>
                                <span class="badge rounded-pill badge-notification bg-danger">Salir</span>
                            </a>
                        </li>
                        <!-- Icon -->
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="#">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Container wrapper -->
            </nav>
            <!-- Navbar -->
        </header>
        <!--Main layout-->
        <main style="margin-top: 58px;">
            <div class="container pt-4">
                @RenderBody()
            </div>
        </main>
        <!--Main layout-->
    </body>
}
@if (ViewBag.Message == "Login")
{
    <body>
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                        @RenderBody()
                </div>
            </div>
        </div>
    </body>
}


@if (ViewBag.Message == "EnvioRedirectRespuestas" || ViewBag.Message == "EnvioRedirectRespuestasMadurez")
{
    <body>
        <div class="container">
                @RenderBody()
        </div>
    </body>
}




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)


</html>
