@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
            <a
                    class="nav-link me-3 me-lg-0  hidden-arrow"
                    id="navbarDropdownMenuLink"
                    role="button"
                    aria-expanded="false"
                  >
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-info">Hola, @UserManager.GetUserName(User)</span>
                  </a>
            
        
        
    }
    


