@model ProyectoIdentity.Models.ModelsJourney.Pregunta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pregunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombrePregunta" class="control-label"></label>
                <input asp-for="NombrePregunta" class="form-control" />
                <span asp-validation-for="NombrePregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPreguntaId" class="control-label"></label>
                <select asp-for="TipoPreguntaId" class ="form-control" asp-items="ViewBag.TipoPreguntaId"></select>
            </div>
            <div class="form-group">
                @*<label asp-for="EncuestaCategoriaId" class="control-label"></label>
                <select asp-for="EncuestaCategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
